@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


.header{
    font-family: 'Lato', sans-serif;
    display: flex;
    width: 100%;
}

.info {
    width: 30%;
    color: rgb(73, 29, 117);
}

.title {
    margin: 12% 20%;
    font-weight: 700;
}

.text {
    width: 80%;
    margin: -9% 20% 5%;
    color: darkgrey;
    font-size: 0.9em;
    
}


i {
    color: goldenrod;
    font-size: 0.7em;
    margin: 0.5%;

}

.ranking {
    margin: 2%;
}


.ranking_stars {
    width: 110%;
    display: flex;
    align-items: center;
    background-color: rgb(246, 243, 250);
    border-radius: 10px;
    margin: 10% 35%;
    padding: 1% 10%;
}

.ranking_text {
    color: rebeccapurple;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 25px;
}

#guru {
    margin-left: 55%;
}

#besttech {
    margin-left: 70%;
}

.cards_container {
    display: flex;
    margin: 5%;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 26, 112);
    color: rgb(228, 220, 220);
    border-radius: 10px;
    width: 20%;
    height: 15%;
    padding: 20px;
    margin: 10px;

}

.card_header {
    display: flex;
}

.card_img > img {
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

.card_title h5{
    margin: 10px 10px;
}

.card_title h6{
    color: rgb(195, 105, 168);
    margin: -5px 10px;
}

.card_info p{
    font-size: 0.7rem;
    margin: 10px;
}

#card_1{
    margin-top: -40px;
}

#card_2{
    margin-top: -20px;
}